{% extends "base.html" %}

{% block title %}Capture{% endblock %}
{% block page_title %}Capture Tasks{% endblock %}

{% block content %}

<div class="card">

    <h2>Capture Tasks</h2>

    <p>
        Enter your tasks or notes below. AI will automatically extract and organize them.
    </p>

    <form action="/process" method="POST">

        <textarea
            name="user_input"
            rows="10"
            placeholder="Example: Tomorrow I need to complete my AI project, attend Java interview and buy groceries."
            style="width:100%; padding:15px; border-radius:10px;"
            required></textarea>

        <br><br>

        <button type="submit" class="btn">
            Analyze with AI
        </button>

        <button type="reset" class="btn" style="background:#374151;">
            Clear
        </button>

    </form>

</div>

{% endblock %}
